{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" action="/fiszki/nowa/dodaj">
        Question: <input type="text" name="question" required="required"><br><br>
        Answer: <input type="text" name="answer" required="required"><br><br>
        Package: <input type="text" name="package" required="required"><br><br><br>
        <input type="submit" value="Add">
    </form>
{% endblock %}
